html
  head
    title='Helium Ink'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron.text-center
        h1 Hey HeliumInkers!!!
        h2 Liberalizing Innovation –  Transforming Ideas to Product
        br
        p I am learning Docker !!
        br
        p Click the button below...
        br
        p 
          a.btn.btn-primary.pull-left(href="//www.heliumink.org") VitaInk
          a.btn.btn-primary.pull-right(href="//community.heliumink.org") Blog
        p
